/* -------------body style-------- */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* --------main section style--------- */
main{
  background-color:#a2a1a0;  
}
#title-one{
  font-weight: bolder;
  color: #9d9d97;
}
/* ----------searh box style---------- */
.Search-boxs{
  background-color: black;
  display: flex;
  justify-content: center;
}
.fields{
  margin-top: 40px;
  margin-bottom: 35px;
  width: 400px;
}
#search-btn{
  color: rgb(0, 0, 0);
  background-color:#ff5900;
  font-weight: bold;
  
}
/* -------------products display section style----------- */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.product{
  margin-top: 50px;
  margin-left: 20px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  color: rgb(0, 0, 0);
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  height: 500px;
}
#title{
  margin-top: 40px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.add-btn{
  background-color: #F9D342;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}
.details-btn{
  padding: 10px;
  background-color: #000000;
  color: #F9D342;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}
.details-btn:hover {
  color:rgb(255, 255, 255);
}
.add-btn:hover {
  color:rgb(33, 0, 124);
}
/* -----------my cart style---------- */
.cart {
  background-color: rgb(0, 0, 0);
  width: 350px;
  color: #F9D342;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 70px;
  position: fixed;
  width: 300px;
}
.card-button{
  color: black;
  background-color: #F9D342;
}
.cart-main {
  padding-right: 30px;
}
/* -----------device responsing------------ */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
